[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = tags/v1.14.1
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/PX4/eigen.git
	branch = 3.4
[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/Pieberry-G/polyscope.git
	branch = MeshDef
