[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = tags/v1.14.1
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/PX4/eigen.git
	branch = 3.4
[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/Pieberry-G/polyscope.git
	branch = MeshDef
[submodule "deps/osi_clp"]
	path = deps/osi_clp
	url = https://github.com/openMVG-thirdparty/osi_clp.git
	branch = Tags/0.107.8
[submodule "deps/MeshFix/MeshFix-V2.1"]
	path = deps/MeshFix/MeshFix-V2.1
	url = https://github.com/MarcoAttene/MeshFix-V2.1.git
